@using EntityLayer
@using static SocialMedia.Controllers.HomeController;
@model List<UserSocialData>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>
    <!--Style Sheet-->
    <link href="~/stylesheet.css" rel="stylesheet" />
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <style>

        .top-menu {
            padding: 10px;
        }

            .top-menu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .top-menu li {
                display: inline-block;
                margin-right: 20px;
            }

                .top-menu li:last-child {
                    margin-right: 0;
                }

            .top-menu a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
                font-size: 14px;
            }

        .main-content {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
        }

        /* Profil bölümü */
        .profile {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

            .profile-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .profile-image-content {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
        }

            .profile-image-content img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .profile-info {
            margin-left: 10px;
        }

        .profile-name {
            font-weight: bold;
            font-size: 16px;
            color: cornsilk;
        }

        .profile-username {
            color: black;
            font-size: 14px;
        }

        /* Akış bölümü */
        .feed {
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            border-color: black;
            background-color: #f4f1de;
        }

        .feed-item {
            border-bottom: 1px solid #162938;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

            .feed-item:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

        .feed-item-content {
            font-size: 14px;
            color: #333;
            line-height: 1.5;
        }

        .feed-item-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

            .feed-item-actions a {
                text-decoration: none;
                color: #fb5607;
                font-size: 12px;
            }

        .feedcomment {
            text-decoration: none;
            color: #fb5607;
            font-size: 12px;
            cursor: pointer;
        }

        /* Yorum bölümü */
        .comment {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #162938;
        }

            .comment:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

        .comment-text {
            color: #3a86ff;
            font-size: 12px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <!--Üst Menü-->
    @*<header>
    <h2 class="logo" style="text-align:center">Social Media</h2>

    <nav class="navigation">
    <a href="/Home/Profil">Profil</a>
    </nav>

    <nav class="navigation">
    <a href="/Home/Login">Çıkış Yap</a>
    </nav>
    </header>*@

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="position:absolute;">
        <div class="container-fluid">
            <a class="navbar-brand">Social Media</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Login">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <form asp-action="SocailAt" asp-controller="Home" method="post">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="Icerik"></textarea>
                            <label for="floatingTextarea">Socialla!</label>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Paylaş</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form asp-action="#" asp-controller="Home" method="post">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Yorum Yap</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Paylaş</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div style="padding-top:100px;">
        <div class="container">
            <div class="form-box login">
                <div class="main-content">
                    <div class="profile">
                        <div class="profile-image">
                            <img src="https://avatars.githubusercontent.com/u/117521602?v=4" alt="Profil Resmi">
                        </div>
                        <div class="profile-info">
                            <div class="profile-username"><b>@ViewBag.profilAdi</b></div>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Socialla!
                        </button>
                    </div>


                    @foreach (var item in Model)
                    {
                        <div class="feed">
                            <div class="feed-item">
                                @*<div class="profile-image-content">
                            <img src="https://avatars.githubusercontent.com/u/117521602?v=4" alt="Profil Resmi">
                            </div>
                            <b>@item.KullaniciAdi</b>*@
                                <div>
                                    <div class="row">
                                        <div>
                                            <div class="profile-image-content">
                                                <img src="https://avatars.githubusercontent.com/u/117521602?v=4" alt="Profil Resmi">
                                            </div>
                                            <div>
                                                <b>@item.KullaniciAdi</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-item-content">
                                    @item.Icerik
                                </div>
                                <div class="feed-item-actions">
                                    <a href="/Home/Like/@item.Id">Beğen &nbsp;@item.LikeCount kişi beğendi.</a>
                                    <!-- Button trigger modal -->
                                    <a class="feedcomment" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                        Yorum Yap
                                    </a>
                                </div>


                                <div class="row">
                                    <div class="comment">

                                        <div class="profile-image-content">
                                            <img src="https://avatars.githubusercontent.com/u/117521602?v=4" alt="Profil Resmi">
                                        </div>
                                        <div>
                                            <b>@item.KullaniciAdi</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum libero eget metus cursus, vel efficitur lorem mollis.
                                </div>

                            </div>
                        </div>
                    }
                    @* <div class="feed">
                    <div class="feed-item">
                    <div class="feed-item-content">
                    Nullam vel lectus et turpis dictum fermentum. Maecenas cursus bibendum risus, eget egestas est venenatis eget. In pretium sagittis mauris at elementum.
                    </div>
                    <div class="feed-item-actions">
                    <a href="#">Beğen</a>
                    <a href="#">Yorum Yap</a>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>
